/*h1, h2, h3 {
	font-family: "Roboto Slab", Courier !important;
}*/

p {
	font-size: 18px;
	font-family: "Roboto Slab", "Helvetica Neue", Courier;
	text-align: center;
}
h1,h2,h3,h4 {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
}
button a{
	color: white;
}
button a:hover{
	color: #CACACA;
	text-decoration: none;
}
.container div ul a {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
}
.courier {
	font-family: courier, serif;
	font-size: 80%;
}
#theCoder {
	font-size: 250%;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, serif;
	font-weight: bold;
}
.my_name {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, serif;
	font-size: 28px !important;
	font-weight: bold;
}
#my_container {
	padding-top: 50px;
	background-image: url('images/blue_background.jpg');
}
.my_container {
	padding-top: 70px;
}
.my_container h2 {
	padding-left: 10px;
}
#page1, #page2, #page3, #page4, #page5 {
	height: 1000px;
	padding: 0 50px 50px 50px;
	margin-top: 50px;
}
#page1 {
	height: 450px;
	color: white;
	background-color: rgba(90,191,225,0.5);
	text-shadow: 0 0 2px #3F869E;
	max-width: 70%;
	margin: 0 auto;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, serif;
}
#page2 {
	background-color: #F1F0F0;
	margin: 0 auto;
	height: 70%;
}
#page3 {
	background-color: #E1E1E1;
	margin: 0 auto;
	height: 70%;
}
#page4 {
	background-color: #FFFFFF;
	margin: 0 auto;
	height: 50%;
}
#page5 {
	background-color: #FFFFFF;
	margin: 0 auto;
	height: 200px;
}
#footer {
	background-color: #ff6666;
	margin: 0 auto;
	text-align: center;
}
.project {
	width: 350px;
	height: 200px;
	border: 1px solid #CACACA;
	margin: 10px auto 80px;
	/*display: inline-block;*/
	box-shadow: 0 0 5px white;
}
.project img {
	width: 100%;
	height: 100%;
}
.project p {
	padding-top: 7px;
}
.project a:hover {
	text-decoration: none;
}
.title {
	text-align: center;
	padding: 30px 0 15px 0;
}
.my_title {
	margin-bottom: -20px;
}
footer a {
	color: #333333;
}
footer a:hover {
	text-decoration: none;
	color: white;
}
.my_avatar {
	border: 1px solid #CACACA;
}
.text_height {
	height: 120px;
}
.img_bg img {
	width: 470px;
	height: 280px;
	margin: 0 auto;
}
.height-sm span {
	padding-top: 5px;
	padding-bottom: 20px;
}
.my_row {
	background-color: #E1E1E1;
	margin-left: -50px !important;
	margin-right: -50px !important;
}
